{% extends "base.html" %}
{% load crispy_forms_tags %}

{% comment %}
        Alice Cutler
        CIS 218
        October 25, 2023
{% endcomment %}

{% block content %}
    <h1>Delete</h1>
    <form action="", method="POST">
        {% csrf_token %}
        <p>
            Sure you want to delete this tweet?
        </p>
        <button class="btn btn-danger ml-2" type="submit">
            Confirm
        </button>
    </form>
    <p>
        Back to
        <a href="{% url 'tweet_feed' %}">
            Tweet Feed
        </a>
    </p>
{% endblock content %}