{% extends "base.html" %}
{% load crispy_forms_tags %}

{% comment %}
        Alice Cutler
        CIS 218
        October 25, 2023
{% endcomment %}

{% block title %}Tweet Detail{% endblock title %}

{% block content %}
    <div class="container">
        <p>
            {{ tweet.author }} | {{ tweet.date }}
        </p>
        <p>{{ tweet.body }}</p>
    </div>

    <hr>
    <h3>Replies</h3>
    {% for reply in tweet.reply_set.all %}
        <p>{{ reply.author }} &middot; {{ reply }}</p>
    {% endfor %}
    <hr>

    <h3>Add a reply</h3>
    <form>
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-success ml-2" type="submit">
            Save
        </button>
    </form>

    <p>
        {% if tweet.author == request.user %}
        <a href="{% url 'tweet_edit' tweet.pk %}">Edit</a> | 
        <a href="{% url 'tweet_delete' tweet.pk %}">Delete</a>
        {% endif %}
    </p>
    <p>
        Back to
        <a href="{% url 'tweet_feed' %}">
            Tweet Feed
        </a>
    </p>
{% endblock content %}