{% extends "base.html" %}

{% comment %}
        Alice Cutler
        CIS 218
        October 25, 2023
{% endcomment %}

{% block title %}Tweet Feed{% endblock title %}

{% block content %}
    <h3>Feed:</h3>
    {% for tweet in tweet_list reversed %}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold">
                    <a>
                        {{ tweet.author }} | {{ tweet.date }}
                    </a>
                </span>
            </div>
            <div class="card-body">
                {{ tweet.body }}
            </div>
            <div class="card-footer text-center text-muted">
                <a href="{% url 'tweet_edit' tweet.pk %}">Edit</a> | 
                <a href="{% url 'tweet_delete' tweet.pk %}">Delete</a> |
                <a href="{% url 'tweet_detail' tweet.pk %}">More...</a>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock content %}